<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			员工个人信息
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li class="btn-group">
				<!-- <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
				<span>Actions</span> <i class="fa fa-angle-down"></i>
				</button> -->
				<ul class="dropdown-menu pull-right" role="menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
			<li>
				<i class="fa fa-home"></i>
				<a href="/">主页</a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->          
<div class="row">
	<div class="col-md-12">
	<div class="portlet-body">
							<div class="table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>姓名</th>
											<th>性别</th>
											<th>邮箱</th>
											{% if perms.hr.department_manager %}
											<th>薪资</th>
											{% endif %}
											<th>部门</th>
											<th>部门经理</th>
											<th>职位</th>
											<th>入职日期</th>
										</tr>
									</thead>
									<tbody>
		{% for e in employees %}
		
										<tr>
											<td>{{ e.name }}</td>
											<td>{{ e.sex }}</td>
											<td>{{ e.email }}</td>
											{% if perms.hr.department_manager %}
											<td>{{ e.base_salary|add:e.extra_salary }}</td>
											{% endif %}
											<td>{{ e.department }}</td>
											<td>{{ e.department.department_manager }}</td>
											<td>{{ e.position }}</td>
											<td>{{ e.hiredate }}</td>
										</tr>
	{% endfor %}
									</tbody>
								</table>
	</div>
	</div>
		
	</div>
</div>
<!-- END PAGE CONTENT-->